<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/header') %>

<body>
  <%- include('../partials/nav') %>

  <main>
    <h1>Kiyo's Mood Board</h1>
    <p>All images taken by his annoying and emotionally wrecked owner.</p>
    <div id="gallery">
    <!--Dynamic Image Gallery Shown Here-->
  </div>
  </main>
</body>

<%- include('../partials/footer') %>

</html>




